opencv-python 
flask  
# I recommend to create virtual environment if you'r using VS Code.
# Create virtual environment if you face any "import Error" related problem. 

# 3 - ways to create virtual environment[NOTE: Please enter the command[s] in terminal

  # way-1: "python -m venv filepth\venv".Then wait for few seconds for it set-up.
  # way-2: Using in anaconda command[Not command line prompt or powershell ]. 
        # STEPS:- 
            # 1- Type "conda create --name venv python". [NOTE: venv is the name that I given for virtualenvironment, you can name it anything.] 
            # 2- After pressing 'y' for finishing set-up,type "conda activate venv" 
            #Incase to deactivate type "conda deactivate"
            # Open the folder where you executed these commands for your work.

# Use the command " pip install -r requirements.txt " to install these required packages.